<div class="row">
  <div class="col-sm-12">
    <h1>Add a Challenge</h1>
    <hr />
  </div>
  <form method="post" action="/add-challenge" enctype="multipart/form-data">
    <input type="text" name="author_id" value="<%= user._id %>" style="display:none" />
    <div class="col-sm-6">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select name="category" class="selectpicker form-control" data-live-search="true" required>
          <option value="">Pick a category</option>
          <optgroup label="Arts &amp; Crafts">
            <option value="Art">Art</option>
            <option value="Architecture">Architecture</option>
            <option value="Music">Music</option>
            <option value="Photography">Photography</option>
            <option value="Writing-Publishing">Writing &amp; Publishing</option>
            <option value="TV Shows">TV Shows</option>
            <option value="Filmmaking">Filmmaking</option>
          </optgroup>
          <optgroup label="Technology">
            <option value="Apps">Apps</option>
            <option value="Web">Web</option>
            <option value="AI">AI</option>
            <option value="VR-AI">VR &amp; AI</option>
            <option value="Electronics">Electronics</option>
            <option value="Accessories">Accessories</option>
            <option value="Video Games">Video Games</option>
          </optgroup>
          <optgroup label="Society">
            <option value="Education">Education</option>
            <option value="Business">Business</option>
            <option value="Environment">Environment</option>
            <option value="Social Innovation">Social Innovation</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="overview">Overview</label>
        <textarea name="overview" id="overview" class="form-control" rows="1" required></textarea>
      </div>
      <div class="form-group">
        <label for="type">Challenge Type</label>
        <select name="type" class="selectpicker form-control" required>
          <option value="light">Light</option>
          <option value="teaser">Teaser</option>
          <option value="brainstorm">Brainstorm</option>
        </select> 
      </div>
    </div>


  <div class="col-sm-12">
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="description" class="form-control" rows="5" required></textarea>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="form-group">
      <label for="img0">Upload an Image</label>
      <input type="file" name="img0" class="form-control" id="img0" required />
    </div>
    <style media="screen">

    </style>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="form-group">
      <label for="day_limit">For how many days do You want the Challenge to run?</label>
      <select name="day_limit" class="selectpicker form-control" id="day_limit" required>
        <option>7</option>
        <option>15</option>
        <option>30</option>
        <option>45</option>
        <option>60</option>
        <option>90</option>
      </select>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="form-group">
      <label for="perk">Rewards / Perks</label>
      <input type="text" name="reward" placeholder="e.g. $50 or a product sample" class="form-control" required />
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="form-group">
      <label for="files_resources">Files &amp; Resources</label>
      <input type="file" name="files_resources" id="files_resources" class="form-control" required />
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="form-group">
      <label for="public_private">Should the Contributions be Public or Private?</label>
      <select name="public_private" class="selectpicker form-control" id="public_private" required>
        <option value="true">Public</option>
        <option value="false">Private</option>
      </select>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="form-group">
      <label for="rewards_number">How many rewards are you willing to give?</label>
      <select id="rewards_number" class="selectpicker form-control" name="rewards_number" required>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option value="more">More than 5</option>
      </select>
    </div>
  </div>

  <div class="col-sm-12">
    <button type="submit" class="btn btn-primary">Add Challenge</button>
  </div>

  </form>

</div>
