<div class="row">
    <div class="col-lg-12">
    	<h1>My Contributions</h1>

		<% for (let n = 0, len = ideas.length; n < len; n++) { %>
			<b style="font-size: 25px">---> <%= ideas[n].body %></b> <br />
		<% } %>
    </div>
</div>
