<% include partials/header.ejs %>

  <div class="row sidebar-toggle" style="margin-top: 100px;">
    <div class="col-sm-12">
      <style>
      .toggle-button {
        border: 2px solid #eee;
        padding: 15px 0;
      }
      </style>
      <div class="toggle-button">
        <button type="button" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h4 class="text-center"><b>Open Dashboard Menu</b></h4>
      </div>
    </div>
  </div>

  <div class="navbar-default sidebar hide" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/profile"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="/profile/account"><i class="fa fa-bar-chart-o fa-fw"></i> My Account </a>

            </li>
            <li>
                <a href="/profile/activity"><i class="fa fa-table fa-fw"></i> My Ideas </a>
            </li>
            <p id="sidebar-challer-zone" class="text-center">
              Challenger Zone
            </p>
            <li>
                <a href="/profile/add-challenge"><i class="fa fa-edit fa-fw"></i> Add Challenge </a>
            </li>
            <li>
                <a href="/profile/challenges"><i class="fa fa-files-o fa-fw"></i> My Challenges </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper">
  <% if (page === '') { %>
    <% include profile/dashboard.ejs %>
  <% } else if (page === 'account') { %>
    <% include profile/account.ejs %>
  <% } else if (page === 'add-challenge') { %>
    <% include profile/add-challenge.ejs %>
  <% } else if (page === 'activity') { %>
    <% include profile/ideas.ejs %>
  <% } else if (page === 'challenges') { %>
    <% include profile/my-challenges.ejs %>
  <% } %>
</div>
<!-- /#page-wrapper -->


<% include partials/footer.ejs %>
